---
layout: default
title: Satija Lab
---

<div class= "wrapper">

<div class = "front-matter">
        <h4> Welcome to the Satija Lab </h4>
        <img class="ny-collab" src="{{ "/img/nygc_nyu.png" | prepend: site.imgurl }}"></img>
        <p>
            Our goal is to understand how cellular heterogeneity encodes the molecular structure, function, and regulation of complex biological systems. Primarily using single cell genomics, we analyze systems by profiling their most fundamental units individually - a ‘bottom-up’ approach that allows us to study how diverse groups of cells work together to drive biological processes and behaviors.
            <br><br>
            We’re located at the <a href ="http://www.nygenome.org/"> New York Genome Center </a>in Lower Manhattan, a short walk from our joint appointment at the <a href ="http://cgsb.as.nyu.edu/page/home"> NYU Center for Genomics and Systems Biology </a>.
        </p>
</div>

<br><br>

<div class = "news-box" class = "pre-scrollable">
    <h4> Recent News </h4>
    <div>
        {% for date in site.data.news %}
            {% if date.location == "both" or date.location == "home" %}
                <h5>
                    {{ date.date }}
                </h5>
                <p>
                    {{ date.entry }}
                </p>
                <div class = "clear"></div>
            {% endif %}
        {% endfor %}
    </div>
</div>

</div>
