---
layout: default
title: People
permalink: /people/
---

<br>
<div class = "people-list">
{% for person in site.data.members %}
    <div class = "member">
        <div class = "wrapper">
            <img class= "profpic" src="{{person.photo | prepend: site.member_photos}} ">
            <h3>
                {% if person.position %}
                    {{person.name}}, {{ person.position }}
                {% else %}
                    {{ person.name }}
                {% endif %}
            </h3>
            <p>
                {% if person.addinfo1 %}
                    {{ person.addinfo1 }} <br>
                {% endif %}
                {{ person.degree }}, {{ person.university }}<br>
                {% if person.addinfo2 %}
                    {{ person.addinfo2 }} <br>
                {% endif %}
                {{ person.email}}<br>
            </p>
        </div>
    </div>
{% endfor %}
</div>
