<div class="wrapper" >
    <img class = "seurat-banner" src="{{ "/img/seurat_banner.jpg" | prepend: site.imgurl }}"></img><br>
    <div class = "button-row">
        <a class="page-link" href={{ "install.html" | prepend: site.software_nav}}>
            <button class="button" id ="btn1">Install</button>
        </a>
        <a class="page-link" href={{ "get_started.html" | prepend: site.software_nav }}>
            <button class="button">Get Started</button>
        </a>
        <a class="page-link" href={{ "contact.html" | prepend: site.software_nav }}>
            <button class="button" id ="btn3">Contact</button>
        </a>
    </div>
</div>
<br>
