<div class="wrapper" >
    <img class = "seurat-banner" src="{{ "/img/seurat_banner.jpg" | prepend: site.imgurl }}"></img><br>
    <div class="btn-group btn-group-justified">
      <a href="/seurat/" class="btn blk-btn">About</a>
      <a href="/seurat/install.html" class="btn blk-btn">Install</a>
      <a href="/seurat/get_started.html" class="btn blk-btn">Get Started</a>
      <a href="/seurat/faq" class="btn blk-btn">FAQ</a>
      <a href="/seurat/contact.html" class="btn blk-btn">Contact</a>
    </div>
</div>

