/**
 * Entire page
 */
body {
    overflow-y: scroll;
    overflow-x: hidden;
}
body, html {
    height: 100%;
    width: 100%;
}

/**
 * Site header
 */
.site-header {
    // Positioning context for the mobile navigation icon
    position: relative;
}

.social-header {
    height: 25px;
    display: inline-block;
    float: right;
    margin-top: 25px;


    a {
        &:hover {
            color: $text-color;
            border-bottom: 0px solid black;
        }
    }
}

.div-bar{
    border-bottom: 1px solid #e0e0e0;
}

.site-title {
    font-size: 53px;
    font-family: 'Quicksand', sans-serif;
    padding-left: 10px;
    padding-right: 40px;
    float: left;
    line-height: 56px;
    margin-bottom: 0;


    &,
    &:visited {
        color: #3a41b8;
    }
    &:hover {
        text-decoration: none;
        border-bottom: none;
    }
}

.site-nav {
    float: right;
    font-size: 13px;
    line-height:56px;
    z-index: 100 !important;


    .menu-icon {
        display: none;
    }

    .page-link {
        color: $text-color;
        line-height: $base-line-height;

        &:hover{
                color: $text-color;
                border-bottom: 3px solid black;
            }

        // Gaps between nav items, but not on the last one
        &:not(:last-child) {
            margin-right: 12px;
        }
    }


    @include media-query($nav-break) {
        position: absolute;
        top: 53px;
        right: $spacing-unit / 2;
        background-color: $background-color;
        border: 1px solid $grey-color-light;
        border-radius: 5px;
        text-align: right;

        .menu-icon {
            display: block;
            float: right;
            width: 36px;
            height: 26px;
            line-height: 0;
            padding-top: 10px;
            text-align: center;
            margin-bottom: 8px;

            > svg {
                width: 18px;
                height: 15px;

                path {
                    fill: $grey-color-dark;
                }
            }
        }

        .trigger {
            clear: both;
            display: none;
        }

        &:hover .trigger {
            position: relative;
            display: block;
            padding-bottom: 5px;

        }

        .page-link {
            display: block;
            padding: 5px 10px;

            &:hover{
                color: $text-color;
                border-bottom: 3px solid black;
            }

            &:not(:last-child) {
                margin-right: 0;
            }
            margin-left: 20px;
        }
    }
}

.front-matter{
    position: relative;
    h4{
        display: inline;
    }
    @include media-query($img-break) {
        p{
            clear: both;
        }
    }

}


.news-box{
    max-height: 220px;
    overflow: hidden;
    :hover{
        overflow-y: scroll;
    }

    h5{
        font-weight: bold;
        display: inline;
        padding-right: 5px;
        font-size: 15px;
    }
    p{
        display: inline;
        font-size: 14.5px;
    }
}

.clear{
  clear: both;
  display: block;
  content: "";
  width: 100%;
}

.news-list{
    h4{
        font-weight: bold;
    }
    p{
        padding-bottom: 5px;
    }
}

/**
 * People section
*/

.people-list{
    margin-left: $spacing-unit;
    display: flex;
    flex-wrap: wrap;
    a{
        text-decoration: none;
    }
    .member {
      display: inline-block;
      margin-bottom: 8px;
      width: calc(50% - 4px);
      margin-right: 8px;
      text-decoration: none;
      color: black;
    }
    .member:nth-of-type(2n) {
        margin-right: 0;
    }
    @media screen and (min-width: 50em) {
      .member {
        width: calc(33% - 6px);
      }

      .member:nth-of-type(2n) {
        margin-right: 8px;
      }

      .member:nth-of-type(4n) {
        margin-right: 0;
      }
    }

    @include media-query($people-break) {
      .member {
        width: 100%;
        text-align: center;
      }
      img {
        display: block;
        margin: 0 auto;
      }
      figcaption{
        p{
            text-align: center !important;
        }
      }
  }

    figure {
      margin: 0;
      overflow: hidden;
    }

    figcaption {
      margin-top: 15px;
      padding-right: 25px;
      p{
        text-align: left;
      }
    }

    img {
      border: none;
      width: 188px;
      height: 188px;
      display: block;
    }
}

/***/

.research-page{
    text-align: justify;
    p{
        padding-left: 25px;
    }
}

.panel-heading .accordion-toggle:after {
    /* symbol for "opening" panels */
    font-family: 'Glyphicons Halflings';  /* essential for enabling glyphicon */
    content: "\e114";    /* adjust as needed, taken from bootstrap.css */
    float: right;        /* adjust as needed */
    color: grey;         /* adjust as needed */
}
.panel-heading .accordion-toggle.collapsed:after {
    /* symbol for "collapsed" panels */
    content: "\e080";    /* adjust as needed, taken from bootstrap.css */
}



.publications-page{
    .pub-entry{
        clear:both;
        padding-bottom: 30px;
        overflow: hidden;
        width: 100%;
        .right-col{
              float: left;
              width: 80%;
              margin-right: -1px;
              padding-bottom: 500em;
              margin-bottom: -500em;
            @include media-query($pub-break) {
                width: 100%;
                display: block;
            }
        }
    }

    p{
        clear: none;
        text-align: left;
    }

    h2{
        text-align: center;
        color: black;
        font-weight: bold;
    }
    a{
        font-weight: bold;
        text-decoration: underline;
    }
}


.software-about{
    p{
        text-align: left;
    }
    ol {
        font-size: 18px;
    }
    ul{
        font-size: 16px;
    }
}

.rmarkdown-tutorial{
    p{
        font-size: 16px ;
    }
    h3{
        font-size: 26px;
    }
}

.get-started{
    h1{
        font-weight:bold;
    }
    h2{
        padding-top: 10px;
        font-weight:bold;
    }
    ol{
        margin-left: 40px;
    }
    ul{
        margin-left: 40px;
    }
}

.ident1{
    margin-left: 20px;
}

/**
 * Site footer
 */

.contact-footer-left {
    float: left;
    width: 50%;
    @include media-query($footer-break) {
        width:100%;
    }
}

.contact-footer-right{
    float: right;
    width: 40%
    margin-left 20px;
    @include media-query($footer-break) {
        width:100%;
        float: left;
    }

}




/**
 * Page content
 */
.page-content {
    padding: $spacing-unit 0;
}

.page-heading {
    font-size: 20px;
}

.post-list {
    margin-left: 0;
    list-style: none;

    > li {
        margin-bottom: $spacing-unit;
    }
}

.post-meta {
    font-size: $small-font-size;
    color: $grey-color;
}

.post-link {
    display: block;
    font-size: 24px;
}



/**
 * Posts
 */
.post-header {
    margin-bottom: $spacing-unit;
}

.post-title {
    font-size: 42px;
    letter-spacing: -1px;
    line-height: 1;

    @include media-query($on-laptop) {
        font-size: 36px;
    }
}

.post-content {
    margin-bottom: $spacing-unit;

    h2 {
        font-size: 32px;

        @include media-query($on-laptop) {
            font-size: 28px;
        }
    }

    h3 {
        font-size: 26px;

        @include media-query($on-laptop) {
            font-size: 22px;
        }
    }

    h4 {
        font-size: 20px;

        @include media-query($on-laptop) {
            font-size: 18px;
        }
    }
}
